{% load static %}
<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Radar Inmobiliario Hurlingham{% endblock %}</title>
  <link rel="preconnect" href="https://unpkg.com">
  <link href="https://unpkg.com/maplibre-gl@5.12.0/dist/maplibre-gl.css" rel="stylesheet">
  <link href="{% static 'css/app.css' %}" rel="stylesheet">
  <script src="https://unpkg.com/htmx.org@2.0.8"></script>
  <script src="https://unpkg.com/lucide@0.468.0/dist/umd/lucide.min.js"></script>
  {% block head %}{% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
  <script src="https://unpkg.com/maplibre-gl@5.12.0/dist/maplibre-gl.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
